html {
    margin: 0px;
   padding: 0px;
}

/*
.container{
    display: grid;
    background-color: lightgreen;
    grid-template-columns: 1fr ;
    */
    
    

.oferta-parque{
    display:grid;
    grid-template-columns:auto;
    grid-template-rows: auto;
    background-color: blue ;
    
}


    

.card {
    display: grid;
    border-radius: 5px;
    
    text-align: center;
    font-family: Arial;
   
}

    


